ServiceSamples/SoapConsoleApplication/Service References/ServiceReference1/tempuri.org.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://mj-sandboxrtw.cloudax.dynamics.com/soap/services/WHSMobileDevicesServices?xsd=xsd2" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="https://mj-sandboxrtw.cloudax.dynamics.com/soap/services/WHSMobileDevicesServices?xsd=xsd3" namespace="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" />
      <xsd:import schemaLocation="https://mj-sandboxrtw.cloudax.dynamics.com/soap/services/WHSMobileDevicesServices?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://mj-sandboxrtw.cloudax.dynamics.com/soap/services/WHSMobileDevicesServices?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCompanies">
    <wsdl:part name="parameters" element="tns:getCompanies" />
  </wsdl:message>
  <wsdl:message name="getCompanies_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="getCompaniesResponse">
    <wsdl:part name="parameters" element="tns:getCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="getCompaniesResponse_Headers">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q2:Infolog" />
  </wsdl:message>
  <wsdl:message name="WHSMobileDevicesService_getCompanies_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q3:Fault" />
  </wsdl:message>
  <wsdl:message name="getDefaultLanguage">
    <wsdl:part name="parameters" element="tns:getDefaultLanguage" />
  </wsdl:message>
  <wsdl:message name="getDefaultLanguage_Headers">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q4:CallContext" />
  </wsdl:message>
  <wsdl:message name="getDefaultLanguageResponse">
    <wsdl:part name="parameters" element="tns:getDefaultLanguageResponse" />
  </wsdl:message>
  <wsdl:message name="getDefaultLanguageResponse_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q5:Infolog" />
  </wsdl:message>
  <wsdl:message name="WHSMobileDevicesService_getDefaultLanguage_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q6:Fault" />
  </wsdl:message>
  <wsdl:message name="getNextFormHandHeld">
    <wsdl:part name="parameters" element="tns:getNextFormHandHeld" />
  </wsdl:message>
  <wsdl:message name="getNextFormHandHeld_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="getNextFormHandHeldResponse">
    <wsdl:part name="parameters" element="tns:getNextFormHandHeldResponse" />
  </wsdl:message>
  <wsdl:message name="getNextFormHandHeldResponse_Headers">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q8:Infolog" />
  </wsdl:message>
  <wsdl:message name="WHSMobileDevicesService_getNextFormHandHeld_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q9:Fault" />
  </wsdl:message>
  <wsdl:message name="workUserDisplaySettings">
    <wsdl:part name="parameters" element="tns:workUserDisplaySettings" />
  </wsdl:message>
  <wsdl:message name="workUserDisplaySettings_Headers">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q10:CallContext" />
  </wsdl:message>
  <wsdl:message name="workUserDisplaySettingsResponse">
    <wsdl:part name="parameters" element="tns:workUserDisplaySettingsResponse" />
  </wsdl:message>
  <wsdl:message name="workUserDisplaySettingsResponse_Headers">
    <wsdl:part xmlns:q11="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q11:Infolog" />
  </wsdl:message>
  <wsdl:message name="WHSMobileDevicesService_workUserDisplaySettings_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q12:Fault" />
  </wsdl:message>
  <wsdl:portType name="WHSMobileDevicesService">
    <wsdl:operation name="getCompanies">
      <wsdl:input wsam:Action="http://tempuri.org/WHSMobileDevicesService/getCompanies" name="getCompanies" message="tns:getCompanies" />
      <wsdl:output wsam:Action="http://tempuri.org/WHSMobileDevicesService/getCompaniesResponse" name="getCompaniesResponse" message="tns:getCompaniesResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WHSMobileDevicesService/Fault" name="SoapServiceFaultFault" message="tns:WHSMobileDevicesService_getCompanies_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDefaultLanguage">
      <wsdl:input wsam:Action="http://tempuri.org/WHSMobileDevicesService/getDefaultLanguage" name="getDefaultLanguage" message="tns:getDefaultLanguage" />
      <wsdl:output wsam:Action="http://tempuri.org/WHSMobileDevicesService/getDefaultLanguageResponse" name="getDefaultLanguageResponse" message="tns:getDefaultLanguageResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WHSMobileDevicesService/Fault" name="SoapServiceFaultFault" message="tns:WHSMobileDevicesService_getDefaultLanguage_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNextFormHandHeld">
      <wsdl:input wsam:Action="http://tempuri.org/WHSMobileDevicesService/getNextFormHandHeld" name="getNextFormHandHeld" message="tns:getNextFormHandHeld" />
      <wsdl:output wsam:Action="http://tempuri.org/WHSMobileDevicesService/getNextFormHandHeldResponse" name="getNextFormHandHeldResponse" message="tns:getNextFormHandHeldResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WHSMobileDevicesService/Fault" name="SoapServiceFaultFault" message="tns:WHSMobileDevicesService_getNextFormHandHeld_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="workUserDisplaySettings">
      <wsdl:input wsam:Action="http://tempuri.org/WHSMobileDevicesService/workUserDisplaySettings" name="workUserDisplaySettings" message="tns:workUserDisplaySettings" />
      <wsdl:output wsam:Action="http://tempuri.org/WHSMobileDevicesService/workUserDisplaySettingsResponse" name="workUserDisplaySettingsResponse" message="tns:workUserDisplaySettingsResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/WHSMobileDevicesService/Fault" name="SoapServiceFaultFault" message="tns:WHSMobileDevicesService_workUserDisplaySettings_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>